@import "tailwindcss";
@plugin "daisyui";


/* *{
  padding: 0 0;

  margin: 0 0;
} */


.blackoverlay{
  background: rgba(0,0,0,0.7);
}

.navFont{
  font-size: 14px;
  font-weight:500;
  /* :hover:#fc8019; */
}
.navFont:hover{
  color:#fc8019;
}

.navIcon{
  display: inline; 
  margin-bottom: 2px;
}

.catagoryButton{
  display: flex;
 justify-content: center;
 align-items: center;
  width: 24px;
  height: 24px;
  border-radius:50%;
  
  color: #686b78;
  cursor: pointer;
  /* flex justify-center items-center w-6 h-6 rounded-full bg-[#686b78]' */
}
.catagoryButton:hover{
  color: black;
  background-color: #e2e2e7;
} 
